* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $fuente;
    font-family: $font-content;
}

h2 {
    font-family: $font-title;
    letter-spacing: 4px;
    color: $light-blue;
}