@media screen and(min-width: 768px) {
    .container {
        height: 100vh;
    }
    .container-login, .container-register {
        width: 320px;
        height: 420px;
        margin: 0;
    }
    .container-login {
        border-radius: 20px 0 0 20px;
        border-right: 3px solid $blue;
    }
    .container-register {
        border-radius: 0 20px 20px 0;
        border-left: 3px solid $blue;
    }
}
@media screen and(min-width: 1024px) {
    .container-login, .container-register {
        width: 400px;
        height: 450px;
    }
    .container-login {
        padding-right: 40px;
    }
    .container-register {
        padding-left: 40px;
    }
}