@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Piedra&display=swap');

$fuente: 16px;

$dark: #1b262c;
$dark-blue: #0f4c75;
$blue: #3282b8;
$light-blue: #b0dfff;
$light: #eee;

$font-title: 'Piedra', cursive;
$font-content: 'Baloo Bhaina 2', cursive;